py3env
.DS_Store
venv
*.pyc
tests.tmp

__pycache__/models.cpython-34.pyc

__pycache__/config.cpython-34.pyc

app/__pycache__/__init__.cpython-34.pyc

app/__pycache__/views.cpython-34.pyc

app/__pycache__/__init__.cpython-34.pyc
