{% extends "index.html" %}
{% block title %}About Us{% endblock %}


{% block extra_head %}
<link href="{{ url_for('static', filename='stylesheets/about.css') }}" rel="stylesheet">

<!--HAVE TO FIX THIS OR NOT? THAT'S THE QUESTION -->
 <!-- <meta name="description" content="jQuery Responsive Carousel - Owl Carusel">
 <meta name="author" content="Bartosz Wojciechowski"> -->
    
    <!-- Owl Carousel Assets -->
<link href="{{ url_for('static', filename='stylesheets/owl.carousel.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='stylesheets/owl.theme.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- Header -->
<!--The actual team -->
<!-- Team Section -->
<section id="team" class="bg-light-gray">
   <div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div id="owl-demo" class="owl-carousel">
                <div class="item"><img src="{{ url_for('static', filename='img/Derek.jpg') }}" style="height:350px;width:350px" ></div>
                <div class="item"><img src="{{ url_for('static', filename='img/Animesh.jpg') }}" style="height:350px;width:350px"></div>
                <div class="item"><img src="{{ url_for('static', filename='img/Andy.jpg') }}" style="height:350px; width: 350px"></div>
                <div class="item"><img src="{{ url_for('static', filename='img/Charles.jpg') }}" style="height:350px;width:350px"></div>
                <div class="item"><img src="{{ url_for('static', filename='img/Kevin.jpg') }}" style="height:350px;width:350px"></div>
              </div>    
            </div>
          </div>
        </div>

    </div>
</section>

 <script src="../static/js/jquery-1.9.1.min.js"></script> 
 <script src="../static/js/owl.carousel.js"></script>

 <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        
        items : 3,
        itemsDesktop : false,
        itemsDesktopSmall : [979,3]
      });

    });
    </script>

<div class="stats">
    	<p style="text-align:center;font-size:35px; color:white">STATS</p>
    <ul>
        <li>Total commits: 61</li>
        <li>Total issues: 19</li>
        <li>Total unit tests: 12</li>
        <li><a target="_blank" href="https://github.com/CharlesMcquade/cs373-idb/issues">Github Issue tracker</a></li>
        <li><a target="_blank" href="https://github.com/CharlesMcquade/cs373-idb">Github repo</a></li>
        <li><a target="_blank" href="https://github.com/CharlesMcquade/cs373-idb/wiki">Github Wiki</a></li>

    </ul>

    	<p style="text-align:center;font-size:35px; color:white">DATA</p>
    	<ul>
        <li><a target="_blank" href="http://docs.murikinmadeapi.apiary.io/#">Apiary</a></li>
        <li><a target="_blank" href="http://developer.edmunds.com/api-documentation/overview/">Edmunds API</a></li>
        <p style="text-align:center;font-size:15px; color:white">For this project, we are looking at American-made vehicles, so we chose three models for the first iteration of the project from three different makes and found their newest year. We then made a request to the API asking for their styles. The request returns a json which contains a list of the numerous styles available</p></ul>
</div>
{% endblock %}
