{% extends "index.html" %}
{% block title %}About Us{% endblock %}


{% block extra_head %}
<link href="{{ url_for('static', filename='stylesheets/about.css') }}" rel="stylesheet">

<!--HAVE TO FIX THIS OR NOT? THAT'S THE QUESTION -->
 <!-- <meta name="description" content="jQuery Responsive Carousel - Owl Carusel">
 <meta name="author" content="Bartosz Wojciechowski"> -->
    
    <!-- Owl Carousel Assets -->
<link href="{{ url_for('static', filename='stylesheets/owl.carousel.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='stylesheets/owl.theme.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- Header -->
<!--The actual team -->
<!-- Team Section -->
<section id="team" class="bg-light-gray">
   <div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">
              <div id="owl-demo" class="owl-carousel">
                <!--Begin Derek-->
                <div class="wrap">
                   <div class="item"><img src="{{ url_for('static', filename='img/Derek.jpg') }}" style="height:320px;width:350px" ></div>
                     <div class="bio">
                        <h4>Derek Smith</h4>
                        <p>Responsibility: Database</p>
                        <p>Derek is completing his last semester at UT. He is an officer in the Information System Security Society organization, and he likes pineapple on his pizza.</p>
                        <ul class="list">
                            <li>Commits: </li>
                            <li>Issues: </li>
                            <li>Unit tests: </li>
                        </ul>
                      </div>
                </div>
                <!--End Derek -->
                <!--Begin Animesh-->
                <div class="wrap">
                   <div class="item"><img src="{{ url_for('static', filename='img/Animesh.jpg') }}" style="height:320px;width:350px"></div>
                     <div class="bio">
                        <h4>Animesh Gandhi</h4>
                        <p>Responsibility: Frontend Development</p>
                        <p>Animesh loves racquetball, frisbee, running and reading. He is currently hooked onto Game of Thrones</p>
                        <ul class="list">
                            <li>Commits: </li>
                            <li>Issues: </li>
                            <li>Unit tests: </li>
                        </ul>
                     </div>
                </div>
                <!--End Animesh-->
                <!-- Begin Andy-->
                <div class="wrap">
                   <div class="item"><img src="{{ url_for('static', filename='img/Andy.jpg') }}" style="height:320px; width: 350px"></div>
                      <div class="bio">
                        <h4>Andy Ehlert</h4>
                        <p>Responsibility: Database, API</p>
                        <p>Computer Science, Business Foundations, 3x Intramural Premier League Soccer Champion</p>
                        <ul class="list">
                            <li>Commits: </li>
                            <li>Issues: </li>
                            <li>Unit tests: </li>
                        </ul>
                     </div>
                </div>
                <!--End Anydy-->
                <!--Begin Charles-->
                <div class="wrap">
                   <div class="item"><img src="{{ url_for('static', filename='img/Charles.jpg') }}" style="height:320px;width:350px"></div>
                      <div class="bio">
                        <h4>Charles Inglis</h4>
                        <p>Responsibility: Backend</p>
                        <p>Computer Science, Business Foundations, Information Security Certificate, 3x World of Warcraft Arena Champion, lvl 99 Ret Paladin</p>
                        <ul class="list">
                            <li>Commits: </li>
                            <li>Issues: </li>
                            <li>Unit tests: </li>
                        </ul>
                     </div>
                </div>
                <!--End Charles-->
                <!--Begin Kevin-->
                <div class="wrap">
                   <div class="item"><img src="{{ url_for('static', filename='img/Kevin.jpg') }}" style="height:320px;width:350px"></div>
                      <div class="bio">
                        <h4>Kevin Nguyen</h4>
                        <p>Responsibility: Frontend, UML</p>
                        <p>Computer Science, PLUR Raver, graduate in 3 1/2 years, likes Pepe the Frog</p>
                        <ul class="list">
                            <li>Commits: </li>
                            <li>Issues: </li>
                            <li>Unit tests: </li>
                        </ul>
                     </div>
                </div>
              </div>    
            </div>
          </div>
        </div>

    </div>
</section>

 <script src="../static/js/jquery-1.9.1.min.js"></script> 
 <script src="../static/js/owl.carousel.js"></script>

 <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        
        items : 3,
        itemsDesktop : false,
        itemsDesktopSmall : [979,3]
      });

    });
    </script>

<div class="stats">
    	<p style="text-align:center;font-size:35px; color:white">STATS</p>
    <ul>
        <li>Total commits: 61</li>
        <li>Total issues: 19</li>
        <li>Total unit tests: 12</li>
        <li><a target="_blank" href="https://github.com/CharlesMcquade/cs373-idb/issues">Github Issue tracker</a></li>
        <li><a target="_blank" href="https://github.com/CharlesMcquade/cs373-idb">Github repo</a></li>
        <li><a target="_blank" href="https://github.com/CharlesMcquade/cs373-idb/wiki">Github Wiki</a></li>

    </ul>

    	<p style="text-align:center;font-size:35px; color:white">DATA</p>
    	<ul>
        <li><a target="_blank" href="http://docs.murikinmadeapi.apiary.io/#">Apiary</a></li>
        <li><a target="_blank" href="http://developer.edmunds.com/api-documentation/overview/">Edmunds API</a></li>
        <p style="text-align:center;font-size:15px; color:white">For this project, we are looking at American-made vehicles, so we chose three models for the first iteration of the project from three different makes and found their newest year. We then made a request to the API asking for their styles. The request returns a json which contains a list of the numerous styles available</p></ul>
</div>
{% endblock %}
