{% extends "index.html" %}
{% block title %}About Us{% endblock %}


{% block extra_head %}
<link href="{{ url_for('static', filename='stylesheets/about.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- Header -->
<!--The actual team -->
<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Murikinz</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/Derek.jpg') }}" class="img-responsive img-circle" alt="">
                    <h3>Derek Smith</h3>
                    <p class="text-muted">Database</p>
                    <p style="color:white">Bio: Derek is completing his last semester at UT. He is an officer in the Information System Security Society organization, and he likes pineapple on his pizza.</p>
                    <p style="color:white">Commits: 7</p>
                    <p style="color:white">Issues: 4</p>
                    <p style="color:white">Unit Tests: 12</p>                 
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <!--Wanna experiment with mouseover effects using only css -->
                        <!-- <div id="wrap"> -->
                            <img src="{{ url_for('static', filename='img/Animesh.jpg') }}" class="img-responsive img-circle" alt="">
                            <!-- <p class="text">Bio</p> -->
                        <!-- </div> -->
                        <h3>Animesh Gandhi</h3>
                        <p class="text-muted">Frontend</p>
                        <p style="color:white">Bio: Computer Science, loves racquetball, frisbee and Taco Bell</p>
                        <p style="color:white">Commits: 13</p>
                        <p style="color:white">Issues: 5</p>
                        <p style="color:white">Unit Tests: 0</p>                       
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                        <img src="{{ url_for('static', filename='img/Charles.jpg') }}" class="img-responsive img-circle" alt="">
                        <h3>Charles Inglis</h3>
                        <p class="text-muted">Rackspace Admin, Backend</p>
                        <p style="color:white">Bio: Computer Science, Business Foundations, Information Security Certificate, 3x World of Warcraft Arena Champion, lvl 99 Ret Paladin</p>
                        <p style="color:white">Commits: 23</p>
                        <p style="color:white">Issues: 2</p>
                        <p style="color:white">Unit Tests: 0</p>                     
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                        <img src="{{ url_for('static', filename='img/Andy.jpg') }}" class="img-responsive img-circle" alt="">
                        <h3>Andy Ehlert</h3>
                        <p class="text-muted">Frontend, Database</p>
                        <p style="color:white">Bio: Computer Science, Business Foundations, 3x Intramural Premier League Soccer Champion</p>
                        <p style="color:white">Commits: 3</p>
                        <p style="color:white">Issues: 8</p>
                        <p style="color:white">Unit Tests: 0</p>           
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                        <img src="{{ url_for('static', filename='img/Kevin.jpg') }}" class="img-responsive img-circle" alt="">
                        <h3>Kevin Nguyen</h3>
                        <p class="text-muted">Frontend, UML</p>
                        <p style="color:white">Bio: Computer Science, PLUR Raver, graduate in 3 1/2 years, likes Pepe the Frog</p>
                        <p style="color:white">Commits: 4</p>
                        <p style="color:white">Issues: 0</p>
                        <p style="color:white">Unit Tests: 0</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="stats">
    	<p style="text-align:center;font-size:35px; color:white">STATS</p>
    <ul>
        <li>Total commits: 61</li>
        <li>Total issues: 19</li>
        <li>Total unit tests: 12</li>
        <li><a target="_blank" href="https://github.com/CharlesMcquade/cs373-idb/issues">Github Issue tracker</a></li>
        <li><a target="_blank" href="https://github.com/CharlesMcquade/cs373-idb">Github repo</a></li>
        <li><a target="_blank" href="https://github.com/CharlesMcquade/cs373-idb/wiki">Github Wiki</a></li>

    </ul>

    	<p style="text-align:center;font-size:35px; color:white">DATA</p>
    	<ul>
        <li><a target="_blank" href="http://docs.murikinmadeapi.apiary.io/#">Apiary</a></li>
        <li><a target="_blank" href="http://developer.edmunds.com/api-documentation/overview/">Edmunds API</a></li>
        <p style="text-align:center;font-size:15px; color:white">For this project, we are looking at American-made vehicles, so we chose three models for the first iteration of the project from three different makes and found their newest year. We then made a request to the API asking for their styles. The request returns a json which contains a list of the numerous styles available</p></ul>
</div>
{% endblock %}
