{% extends "index.html" %}




{% block title %}Models Table{% endblock %}
<!-- BEGIN HEAD -->
{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='stylesheets/about.css') }}" rel="stylesheet">


    <!-- Table CSS -->
    <link href="{{ url_for('static', filename='stylesheets/table.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static', filename='stylesheets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{{ url_for('static', filename='js/sortable.js') }}"></script>
</head>
{% endblock %}
<!-- END HEAD -->
<!-- BEGIN CONTENT -->
{% block content %}
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                    <br><br><br>
                        <!-- Description -->
                        <h1 class="description">
                          American Vehicle Models
                        </h1>

                        <!-- Table demo -->
                        <div class="box-table">
                            <table class="sortable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Make ID</th>
                                    <th>Year</th>
                                    <th>Price</th>
                                    <th>Engine ID</th>
                                    <th>Type</th>
                                    <th>Transmission ID</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for m in models %}
                                        <tr>
                                        <td class="user-photo"><a href="/models/{{m.make.name}}/{{m.name}}">{{ m.name.title() }}</a></th>
                                        <td><a href="/makes/{{ m.make.name }}">{{ m.make.name.title() }}</a></td>
                                        <td>{{ m.year }}</td>
                                        <td>${{ m.price }}</td>
                                        <td><a href="/engines/{{ m.engines.id }}">{{ m.engines.first().name }}</a></td>
                                        <td><a href="/types/{{ m.types }}">{{ m.types.first().name.title() }}</td>
                                        <td><a href="/transmissions/{{ m.transmission }}">{{ m.transmission }}</td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>    
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
