{% extends "base.html" %}
<title>{%block title %}Search Results{% endblock %}</title>
{% block extra_head %}
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='stylesheets/about.css') }}" rel="stylesheet">
    <!-- Table JS -->
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <!-- Table JS - Bootstrap specific -->
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>

    <script>
         $(document).ready(function() {
            {% for i in range(0, len(ordering)) %}
                $('#dataTable{{ordering[i].title() }}').DataTable();
            {% endfor %}
          });    
    </script>
    <!-- Table CSS -->
    <link href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/search_results.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <h2>Search Results</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#{{ ordering[0] }}">{{ ordering[0] }}</a></li>
    {% for i in range(1, len(ordering)) %}
    <li><a data-toggle="tab" href="#{{ ordering[i] }}">{{ ordering[i] }}</a></li>
    {% endfor %}
  </ul>

  <div class="tab-content">
  {% set model = ordering[0] %}
    <div id="{{model}}" class="tab-pane fade in active">
    {% include "search_table.html" %}
    </div>
    {% for i in range(1, len(ordering)) %}
        {% set model = ordering[i] %}
        <div id="{{model}}" class="tab-pane fade">
        {% include "search_table.html" %}
        </div>
    {% endfor %}
  </div>
</div>
</body>
{% endblock %}