{% extends "index.html" %}
{% block extra_head %}
<link href="{{ url_for('static', filename='stylesheets/details-page.css') }}" rel="stylesheet">
{% endblock %}

    {% block content %}
    <!-- Header -->
    <!-- <a name="about"></a> -->
    <!-- <div class="container"> -->
        <div class="jumbotron content-section-a">
            <div class="container">
                <div class="col-lg-6">
<!-- DYNAMIC CHANGE NAME HERE -->
                    <h1>{{ m.make.name.title()}} {{ m.name.title() }}</h1>
<!-- PUT MEDIA STUFF HERE -->
                    <img src="/static/img/temp_vehicle_models/{{m.make.name.title()}}_{{m.name.title()}}.jpg" class="img-responsive">
                </div>
<!-- DETAILS HERE -->
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><h3>Engine:</h3> <p>{{ m.engines.first().name }}</p></li>
                        <li><h3>Year:</h3> <p>{{ m.year }}</p></li>
                        <li><h3>Transmission:</h3> <p>{{ m.transmission }}</p></li>
                        <li><h3>Price:</h3> <p>{{ m.price }}</p></li>
                        <li><h3>Year:</h3> <p>{{ m.year }}</p></li>
                        <li><h3>Type:</h3> <p>{{ m.types.name }}</p></li>
                    </ul>
                </div>
            </div>


        </div>
    <!-- </div> -->
  {% endblock %}
