{% extends "about.html" %}
{% block title %}TweetCity Stats{% endblock %}
{% block extra_head %}
	<link href="{{ url_for('static', filename='stylesheets/tweetCharts.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>


	
{% endblock %}


{% block nav %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-success">
		    <div class="panel-heading">
		         <h3 class="panel-title">Panel Title</h3>

		    </div>
		    <div class="panel-body">
		        <canvas id="myChart" width="600" height="400"></canvas>
		    </div>
		</div>
	</div>
</div>
{% endblock %}


{% block footer_outer %}
<script src="{{ url_for('static', filename='js/tweetCharts.js') }}"></script>
{% endblock %}